@charset "utf-8";

// 文字色
$text-color: #333;
$text-color-white: #fff;

// 背景色
$primary-color: #ffa500;
$bg-color: #f6f6f6;

// フォントサイズ
$font-xsmall: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 20px;
$font-xlarge: 24px;
