@use "../../assets/styles/base/variables" as *;
@use "../../assets/styles/base/mixins" as *;

.container {
  padding: 30px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 50px;

  .blog_pagenation {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    span {
      text-decoration: none;
      color: #444;
      cursor: pointer;

      &.active {
        text-decoration: 2px underline #222;
        text-underline-offset: 3px;
      }
    }
  }
}

@include respond("md") {
  .container {
    margin-top: 60px;
    grid-template-columns: 1fr;
  }
}
